/* link naaar uitleg videos davor https://www.youtube.com/watch?v=sA-HJA3x5EA&list=PLt7OQG6rAE6niyUf7eNoQWAAsbIrbv6cE */

* {
  padding: 0px;
  margin: 0px;
  /* dit zorgt ervoor dat alles standaard zonder padding en margin is */
}

nav ul {
  list-style-type: none; /*zogt ervoor dat het er niet uit ziet als een list*/
  overflow: hidden;
  background-color: #fff;
  height: 55px;
  /* styling voor de items in de navbar */
}

nav li {
  font-family: "Arimo", sans-serif;
  float: left;
  /* zorgt ervoor dat alle list itms in de nav aan de linker kant komen staan */
}
.logo {
  width: 200px;
  text-align: center;
  line-height: 55px;
  background-color: #e40808;
  color: #fff;
  font-family: "Sofia", sans-serif;
  /* Een simpel logo voor de navbar */
}

nav li a {
  display: block; /* maakt van het item een rechthoek*/
  color: black;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

nav li :hover {
  color: #fff;
  background-color: rgb(17, 17, 17);
  transition: 1s;
  /* verranderd de achtergrond kleur van een list item als je er met je muis overheen gaat ìn een duur van een seconde */
}

.login,
.login a {
  float: right;
  background-color: black;
  color: #fff;
}

.login :hover {
  background-color: #e40808;
  transition: 1s;
}

.logged-in {
  width: 200px;
  text-align: center;
  line-height: 55px;
  background-color: #e40808;
  color: #fff;
  font-family: "Sofia", sans-serif;
  float: right;
}

#active {
  /* background-color: rgba(255, 217, 0, 0.785); */
}

.background {
  height: 80vh;

  background-image: -webkit-linear-gradient(
      bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url(../assets/images/burger.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(../assets/images/burger.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-family: "Lobster", cursive;
  color: #fff;
  line-height: 250px;
  height: 250px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.buttons {
  line-height: 250px;
  height: 250px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.buttons button,
.buttons2 button {
  width: 50%;
  cursor: pointer;
  text-align: center;
  line-height: 100px;
  border: 5px solid #e40808;
  background-color: #fff;
}

.buttons button :hover,
.buttons2 button :hover {
  transition: 1s;
  background-color: black;
  color: #fff;
}

main {
  font-family: "Arimo", sans-serif;
  background-color: #fff;
  border-top: solid;
  border-bottom: solid;
  border-width: 5px;
  border-color: #e40808;
  text-align: center;
  display: flex;
  align-items: center;
}

.info {
  width: 100%;
}

.wapen {
  width: 460px;
  height: 500px;

  background-image: -webkit-linear-gradient(
      bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url(../assets/images/Kranenburg.png);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(../assets/images/Kranenburg.png);
  background-size: 350px;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: tomato;
}

main hr {
  border-top: 1px dashed #e40808;
}

footer {
  background-color: #fff;
  border-top: solid;
  border-width: 5px;
  border-color: #e40808;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Fira Sans", sans-serif;
}

footer div {
  width: 100%;
  list-style-type: none; /*zogt ervoor dat het er niet uit ziet als een list*/
  overflow: hidden;
}

.background2 {
  background-image: -webkit-linear-gradient(
      bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url(../assets/images/friet.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(../assets/images/friet.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name2 {
  margin-top: 10%;
  font-family: "Lobster", cursive;
  color: #fff;
  line-height: 250px;
  height: 250px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.menu-container {
  margin-top: 10%;
  width: 80%;
  background-color: #fff;
  margin-bottom: 10%;
  border: solid;
  border-width: 5px;
  border-color: #e40808;
}

.menu {
  margin-inline: 10%;
}

.menu h1 {
  font-family: "Lobster", cursive;
  font-size: 50px;
}

.menu hr {
  border: 3px solid #e40808;
}

.test {
  font-size: large;
  text-align: center;
}

.buttons2 {
  line-height: 250px;
  height: 250px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 10%;
}

.background3 {
  background-image: -webkit-linear-gradient(
      bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url(../assets/images/empty.jpg);
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url(../assets/images/empty.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-panel {
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 10%;
}

.warning {
  margin: 25px;
  align-self: center;
  width: 50%;
  background-color: #ff00008a;
}

table {
  text-align: start;
}

th h2 {
  font-family: "Lobster", cursive;
  font-size: 40px;
  height: fit-content;
  width: 50vh;
  padding: 2%;
  color: #fff;
  background-color: #e40808;
}

td {
  font-family: "Arimo", sans-serif;
  font-size: 25px;
}

td a {
  text-decoration: none;
}

.btn-update {
  width: 100px;
  line-height: 30px;
  border: none;
  background-color: grey;
  color: #fff;
  cursor: pointer;
}

.btn-delete {
  width: 100px;
  line-height: 30px;
  border: none;
  background-color: red;
  color: #fff;
  cursor: pointer;
}

.loguit {
  width: 50%;
  line-height: 30px;
  border: none;
  background-color: red;
  color: #fff;
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 1%;
}

.create {
  float: left;
  width: 25%;
  line-height: 30px;
  border: none;
  background-color: green;
  color: #fff;
  cursor: pointer;
}

.desc {
  width: 500px;
}

.verzenden :hover,
.back :hover,
.btn-delete :hover,
.btn-update :hover,
.loguit :hover,
.create :hover {
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.5);
}

.background4 {
  height: 100vh;
  background-image: -webkit-linear-gradient(
      bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url(../assets/images/friet.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(../assets/images/friet.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  float: left;
  width: 25%;
  line-height: 40px;
  border: none;
  background-color: red;
  color: #fff;
  cursor: pointer;
}

.verzenden {
  width: 50%;
  line-height: 50px;
  border: none;
  background-color: green;
  color: #fff;
  cursor: pointer;

  margin-bottom: 1%;
}
.edit-container {
  margin-top: 10%;
  width: 80%;
  background-color: #fff;
  margin-bottom: 10%;
  border: solid;
  border-width: 5px;
  border-color: #e40808;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1030px) {
  .info {
    width: 100%;
  }
  .wapen {
    width: 500px;
    background-size: 300px;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  th h2 {
    width: 40vh;
  }
}

@media screen and (max-width: 430px) {
  main {
    flex-direction: column;
    height: 300px;
  }

  .info {
    width: 100%;
  }
  .wapen {
    height: 120px;
    width: 100%;
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
  }

  footer {
    flex-direction: column;
  }

  .buttons button,
  .buttons2 button {
    width: 80%;
  }

  th h2 {
    width: 20vh;
  }
}
